div.homepage.pin.master.container {
    column-count: 4;
    margin-top: 20px;
}

div.homepage.single.pin.container {
    border-radius: 10px;
    margin-bottom: 10px;
}

img.pincard {
    border-radius: 15px;
    max-width: 100%;
}

img.pincard:hover {
    background-color: black;
    cursor: zoom-in;
    opacity: 0.2;
}

div.pincard.master.container {
    border-radius: 15px;
    position: relative;
}

div.homepage.single.pin.overlay.container {
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99%;
    padding: 8px;
    position: absolute;
    width: 100%;
}

div.homepage.single.pin.overlay.top {
    display: flex;
    justify-content: space-between;
}

button.overlay.save {
    font-size: 16px;
    height: 40px;
    padding: 0 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}
