div.homepage.pin.master.container {
    column-count: 4;
    margin-top: 20px;
    padding: 5px;
    column-gap: 20px;

    vertical-align: initial;
    word-break: break-word;
}

div.homepage.single.pin.container {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 15px;
    height: 100%;
    margin: 10px 0;
    padding: 0;
}

img.modalimage{
    border-radius: 19px;
    max-width: 100%;
}

a.modalimage.link {
    display: inline-block;
    margin: 0;
    height: 10px;
}

img.modalimage:hover {
    background-color: black;
    cursor: zoom-in;
    opacity: 0.3;
}

div.pincard.master.container:hover img.pincard {
    background-color: black;
    cursor: zoom-in;
    opacity: 0.3;
}

div.pincard.master.container {
    background-color: grey;
    box-shadow: 6px 3px 4px 1px gray;
    border-radius: 19px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    position: relative;
}

div.homepage.single.pin.overlay.container {
    background-color: none;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    padding: 8px;
    position: absolute;
    width: 100%;
}

div.homepage.single.pin.overlay.top {
    display: flex;
    justify-content: space-between;
}

button.overlay.save {
    font-size: 16px;
    height: 40px;
    padding: 0 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}

div.delay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div.top.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

div.bottom.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

div.bottom.master {
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.splash.loading {
    align-items: flex-start;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    min-height: 2000px;
    min-width: 2000px;
    z-index: 100;
}

@media (min-width: 0px) and (max-width: 550px) {
    div.homepage.pin.master.container,
    div.profilepage.pins.container {
        column-count: 2;
    }
}

@media (min-width: 551px) and (max-width: 1050px) {
    div.homepage.pin.master.container,
    div.profilepage.pins.container {
        column-count: 3;
    }
}

@media (min-width: 1051px) and (max-width: 1330px) {
    div.homepage.pin.master.container,
    div.profilepage.pins.container {
        column-count: 4;
    }
}

@media (min-width: 1331px) and (max-width: 1571px) {
    div.homepage.pin.master.container,
    div.profilepage.pins.container {
        column-count: 5;
    }
}

@media (min-width: 1572px) {
    div.homepage.pin.master.container,
    div.profilepage.pins.container {
        column-count: 6;
    }
}
