* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input, textarea, select {
    padding: 10px 10px;
    border-radius: 10px;
    border-color: #B4125D;
    box-shadow: inset 0 0 0 2px #E9E9E9;
    border-width: 2px;
    border-style: inset;
    outline: none;
}

button {
    background-color: #E9E9E9;
    /* border: 2px solid #B4125D; */
    border: none;
    border-radius: 18px;
    color: #B4125D;
    font-weight: bold;
    transition: 0.35s;
}

button:hover,
button:focus-within {
    background-color: #B4125D;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: inset 10em 0 0 0 #B4125D;

}

#modal-content {
    align-items: center;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 40px;
    text-align: center;
    transform: scale(1) rotate(0deg) translateX(2px) translateY(20px);
    width: fit-content;
}

form.login,
form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

h1.login {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}
