div.boardlist.dropdown.master.container {
    background-color: white;
    border-radius: 15px;
    left: 60px;
    max-height: 500px;
    max-width: 330px;
    padding: 10px;
    position: absolute;
    top: 60px;
    width: 330px;
    z-index: 1;
}

div.boardlist.dropdown.submaster.container {
    /* overflow: scroll; */
    text-align: center;
}

div.boardlist.subcontainer {
    height: 400px;
    overflow:auto;
    text-align: left;
}

p.boardlist.card.content {
    color: black;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
}

p.boardlist.card.boardname {
    color: black;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
}

button.boardlist.dropdown {
    align-items: center;
    display: flex;
    height: 40px;
    margin-top: 7px;
    gap: 7px;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    z-index: 1;
}

a.pincard.pin.name {
    bottom: 5%;
    color: white;
    position: absolute;
    text-decoration: none;
    z-index: 1;
}

div.boardlist.card.container {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 10px;
    width: 90%;
}

div.boardlist.card.container:hover {
    background-color: #E9E9E9;
}

div.boardlist.card.image.container {
    align-items: center;
    display: flex;
    width: fit-content;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

div.boardlist.card.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}

div.boardlist.textcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    width: 80%;
}

img#bdimage {
    border-radius: 15px;
    height: 50px;
    width: 50px;
}

p.boardlist.card.name {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}

p.boardlist.numberofpins {
    color: gray;
    font-size: 10px;
    margin-top: 0;
}

p.boardlist.dropdown.button.text {
    font-size: 16px;
}

p.boardlist.dropdown.master.title {
    color: black;
    font-size: 15px;
}

button.boardlist.card.save:hover {
    background-color: black;
    color: white;
}

button.boardlist.card.save {
    opacity: 0;
    padding: 0 12px;
}

p.savedClass,
button.savedClass {
    background-color: black;
    color: white;
}

div.boardlist.card.container:hover button.boardlist.card.save {
    opacity: 1;
}

button.boardlist.card.savedClass {
    opacity: 1;
}

form.pinform.create input,
form.pinform.create textarea,
form.pinform.create select {
    width: 100%;
}

form#pinform {
    width: 100%;
}

button.create.submit{
    font-size: 15px;
    height: 30px;
    margin-top: 20px;
    width: 90px;
}
