.profile-dropdown.master.container {
  position: absolute;
}

div.profile-dropdown.menu {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 30px;
  width: 20vw;
  z-index: 1;
}

div.profile-dropdown.user.card {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 90%;
}

.hidden {
  display: none;
}

img.logo {
  height: 40px;
}

div.navbar.master.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

div.navbar.menu.button.container {
  display: flex;
  justify-items: center;
  margin-right: 20px;
}

div.navbar.links1 {
  align-items: center;
  display: flex;
  gap: 20px;
}

div.navbar.search.container {
  display: flex;
  width: 50vw;
}

input.navbar.search {
  background-color: #E9E9E9;
  border-radius: 20px 0 0 20px;
  font-size: 18px;
  height: 40px;
  padding-left: 20px;
  width: 90%;
}

button.navbar.search.submit {
  border-radius: 0 20px 20px 0;
  height: 40px;
  padding-left: 0;
  width: 40px;
}

button.navbar.search.submit:hover,
input.navbar.search:hover {
  background-color: #E9E9E9;
  color: #B4125D;
  cursor: pointer;
}

button.navbar.menu {
  align-items: center;
  background-color: white;
  border-radius: 100%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 50px;
}

i.profile-dropdown {
  color: #B4125D;
  font-size: 30px;
}

i.profile-dropdown:hover,
button.navbar.menu:hover {
  background-color: #B4125D;
  color: #E9E9E9;
}

button.modal {
  background-color: #B4125D;
  border-radius: 18px;
  color: #E9E9E9;
  /* font-weight: bold; */
  font-size: 20px;
  width: 200px;
}

button.modal:hover {
  background-color: #E9E9E9;
  color: #B4125D;
}

ul.profile-dropdown {
  list-style: none;
}

img.profile-dropdown.user {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

a.navbar.link.text {
  border-radius: 26px;
  color: black;
  font-size: 16px;
  padding: 0 15px;
  text-decoration: none;
}

a.navbar.link.text.active,
button.navbar.menu.create.active {
  background-color: black;
  border-radius: 26px;
  color: white;
  padding: 0 15px;
}

button.navbar.menu.create {
  border-radius: 26px;
  color: black;
  gap: 6px;
  margin-right: 5px;
  font-size: 16px;
  height: 51px;
  padding: 0 15px;
  text-decoration: none;
  width: 90px;
}

button.navbar.menu.create:hover,
a.navbar.link.text:hover {
  background-color: #B4125D;
  color: white;
}

a.navbar.link.text:hover {
  background-color: #B4125D;
}

div.create.menu {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 30px;
  width: 20vw;
  z-index: 1;
}

p.navbar.messages {
  cursor: not-allowed;
}
