div.signupform.field {
    display: flex;
    flex-direction: row;
}

div.signupform.footer {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    margin-bottom: 10px;
    width: 60%;
}

p.form.required {
    color: red;
    margin: 0;
}

#modal-content form.signup {
    width: 60%;
}

button.signup.form.submit {
    height: 30px;
    font-size: 16px;
    margin-top: 20px;
    width: 150px;
}

form.signup label {
    margin-top: 10px;
}
