div.profilepage.upper.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.profilepage.user.pic {
    border-radius: 50%;
    margin-top: 50px;
    height: 200px;
    width: 200px;
}

div.profilepage.user.pic.container:hover i {
    background-color: #B4125D;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    /* box-shadow: 2px 0 0 #B4125D; */
    padding: 10px;
    transition: 0.25s ease-in-out;
}

div.profilepage_editmode_image {
    margin: 90px 0;
}

p.user.username {
    color: gray;
    margin-top: 0px;
}

div.lower.section.container {
    display: flex;
    flex-direction: column;
    column-count: 4;
    margin-top: 20px;
}

div.profilepage.selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

p.profilepage.controls {
    cursor: pointer;
    font-size: 20px;
    /* font-weight: bold; */
}

p.profilepage.controls.true {
    font-weight: bold;
    text-decoration: overline;
}

div.profilepage.tile.master {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 241px;
}

div.profilepage.board.tile {
    display: flex;
    gap: 1px;
}

div.profilepage.image.container {
    background-color: #ebe9e9;
    border: 0.1px solid #ebe9e9;
    border-radius: 18px;
}

div.profilepage.tile.nonmain {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

div.profilepage.tile.text.container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width: 100%;
}

ul.profilepage.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 8px;
    padding: 0px;
}

img.profilepage.tile.main {
    border-radius: 18px 0 0 18px;
    height: 160px;
    width: 160px;
}

img.profilepage.tile.secondary {
    border-radius: 0 18px 0 0;
    height: 79.5px;
    width: 79.5px;
}

img.profilepage.tile.terciary {
    border-radius: 0 0 18px 0;
    height: 79.5px;
    width: 79.5px;
}

p.profilepage.number.pins {
    color: gray;
    font-size: 12px;
    margin: 0;
}

p.profilepage.board.name {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}

a.profilepage.tile {
    color: black;
    text-decoration: none;
}

input#profilepage_editmode_username::before {
    content: "Username";
    color: black;
    border: none;
}

p.profilepage.user.follow {
    margin-top: 0;
    font-size: 14px;
}

button.profilepage.nonowner,
button.profilepage.owner {
    font-size: 16px;
    padding: 5px 35px;
}

button.profilepage.nonowner.following {
    background-color: black;
    color: white;
    cursor: default;
    box-shadow: none;
}

button.profilepage.nonowner.following:hover {
    cursor: pointer;
    display: inline;
    background-color: #B4125D;
    box-shadow: inset 10em 0 0 0 #B4125D;
}

button.profilepage.nonowner.following:hover span.following {
    display: none;
}

button.profilepage.nonowner.following  span.unfollow{
    display: none;
}

button.profilepage.nonowner.following:hover  span.unfollow {
    cursor: pointer;
    display: inline;
}

form.profilepage.owner.textedit {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

form.profilepage.owner.imageedit {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.profilepage.single.pin.container {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 15px;
    height: 100%;
    margin: 10px 0;
    padding: 0;
}

div.profilepage.pins.container {
    column-count: 4;
    margin-top: 20px;
    padding: 5px;
    grid-column-gap: 20px;
    column-gap: 20px;
    vertical-align: initial;
    word-break: break-word;
}

div.profilepage.followmodal.container button {
    font-size: 15px;
    padding: 5px 8px;
    width: unset;
}

div.profilepage.followmodal.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}

p.profilepage.separator {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

div.profilepage.follower.list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
    width: 410px;
}

div.profilepage.follower.list div {
    width: 290px;
}
